page-detail {

    .trans{
        display: flex;
        justify-content: center;
      }
    .lista{
        background-color: rgb(34, 133, 116);
    }
    .master{
        background-color: rgb(41, 124, 124)
    }

}
