
<ion-header>

  <ion-navbar>
    <ion-title>Description of tasks</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="show" class="lista">
    <ion-list >

        <ion-item class="master">
          <ion-label floating>Tarea</ion-label>
          <ion-input type="text" [(ngModel)]="task.title"></ion-input>
        </ion-item>
      
        <ion-item class="master">
          <ion-label floating>Descripcion</ion-label>
          <ion-textarea [(ngModel)]="task.description"></ion-textarea>
        </ion-item>
      
      </ion-list>

      <div class="trans"> 


      <ion-fab left bottom>
        <button ion-fab color="dark"><ion-icon name="arrow-dropright-circle"></ion-icon></button>
        <ion-fab-list side="right">
          <button ion-fab (click)="addTask()" color="secondary">
            <ion-icon name="create"></ion-icon></button>
          <button ion-fab *ngIf="id != 0" (click)="deleteTask()" color="danger">
            <ion-icon name="trash"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>

        

        </div>
        
</ion-content>

